*{
	margin: 0;
	padding: 0;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 800px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
section{
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}

section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;               /* If you remove this, the margins in normalize.css will be applied. */
}
section h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}

aside{
	width: 215px;
	float: right;
	padding-bottom: 20px;
	padding-left: 20px;
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}
/* the styles for the header */
header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5ems;
	padding-bottom: 2ems;
	background-image: linear-gradient(to left, #ffcc66, #ffcc99, white);
}

/* the styles for the section */
main {
	clear: left;

}

/* the styles for the footer */
header h2{
	font-size: 170%;
	color: #800000;
	
}

header h3{
	font-size: 130%;
	font-style: italic;
	
}


main h2{
	font-size: 130%;
	color: #800000;
	padding: 0.5em 0 0.25em 0;
}

main h3{
	font-size: 105%;
	padding-bottom: 0.25em;
}
main img {
	padding-bottom: 1em;
}
main p{
	padding-bottom: 0.5em;
}
main blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
main ul{
	padding-bottom: 0.25em;
	padding-left: 1.25em;
}
main li{
	padding-bottom: 0.35em;
}
a:focus, a:hover{
	font-size: italic;
}
footer p{
	text-align: center;
	color: white;
	padding: 1em 0;
}
footer{
	background-color: #931420;
	clear: both;
}
